#icn{
    width: 15px;
    height: 15px;
}

.input{
    
    height: 47px;
    padding-top: 10px;
    background-color: #D9D9D9;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    margin-top: 0.75rem;
    padding: 0.75rem;
    gap: 1rem;
}
.input input{
    
    background: transparent;
    width: 100%;
    outline: none;
}
.input-field {
    width: 100%;
    padding: 8px;
    margin-left: 10px;
    font-size: 16px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
  }

  @media (max-width: 600px) {
    .input {
        margin-left: 20px;
        background: #000000;
        border: 0px;
        color: #979797;
    }
  }